<tr>
    <td><%= bank.name %></td>
    <td><%= bank.transactions.count() %></td>
    <td><%= bank.transactions.sum(:amount) %></td>
    <td>
    <% transaction = bank.transactions.order(:date).last %>
    <% if transaction %>
        <%= transaction.date%>
    <%end%>
    </td>
    <% if @showControls %>
        <td><%= link_to 'Show', bank_path(bank) %></td>
        <td><%= link_to 'Edit', edit_bank_path(bank) %></td>
        <td><%= link_to 'Delete', bank_path(bank), method: :delete %></td>
    <%end%>
</tr>