<% if @bank.errors.any? %>
    <div class="errorExplanation">
      <span class="errorHeader">
        <%= pluralize(@bank.errors.count, "error") %> when creating bank
      </span>
      <ul>
        <% @bank.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>