<tr>
    <th>Name</th>
    <th>number of transactions</th>
    <th>sum of transactions</th>
    <th>date of last transaction</th>
    <% if @showControls %>
        <th colspan="3"></th>
    <% end %>
</tr>