<h1> Bank <%= @bank.name %> </h1>

<table>
<% @showControls = false %>
<%= render 'tableHeader'%>
<%= render @bank%>
</table>

<table>
<h2>Transactions :</h2>
<%= render 'transactions/tableHeader' %> 
<%= render @bank.transactions.order(:date).reverse_order %>
</table>
<span style="font-weight:bold">Transaction Sum : </span>
<%= @bank.transactions.sum(:amount) %>
<br>
<%= link_to 'New Transaction' , new_bank_transaction_path(bank_id: @bank.id)%>
<br>
<%= link_to "Back", banks_path %>