<% if @transaction.errors.any? %>
    <div class="errorExplanation">
      <span class="errorHeader">
        <%= pluralize(@transaction.errors.count, "error") %> when creating transaction
      </span>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>