<%= form_with(model: [ @transaction.bank, @transaction ], local: true) do |form| %>

    <%= form.label(:date) %>
    <%= form.datetime_local_field(:date) %>
    <%= form.label(:amount) %>
    <%= form.number_field(:amount, :step => 0.01) %>
    <%= form.label(:description) %>
    <%= form.text_area(:description) %>
    <%= form.submit%>
    
<% end %>