<tr>
    <td><%= transaction.date %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.description %></td>
    <td><%= link_to "Delete", [transaction.bank, transaction], method: :delete %></td>
    <td><%= link_to "Edit", edit_bank_transaction_path(transaction.bank, transaction) %></td>
</tr>